body{
    margin: 0;
    background-color:  rgb(214, 231, 231);
    font-style: italic;

}
header{
    padding: 3rem 2rem;
    background-color: rgb(2, 74, 50);
    color: aliceblue;
    border-radius: 5%;
}

body h1{
    font-size: 3rem;
    margin: 2px;
    text-align: center;
    text-decoration-color: aliceblue;
    color: aliceblue;
}

.container{
    width: 400px;
    margin: 0 auto;
}
article img{
    width: 400px;
}

aside{
    float: right;
    font-size: 2rem;
    color: rgb(7, 96, 96);
    cursor: pointer;
    margin: 3rem;
    border-radius: 4%;

}
aside ul li:hover{
    color: aliceblue;
    transition: all 3ms;
}
nav{
    float: left;
}
nav a{
    float: left;
    font-size: 2rem;
    color: rgb(7, 96, 96);
    cursor: pointer;
    margin: 3rem;
    border-radius: 4%;

}
nav a:hover{
    color: aliceblue;
}
section article{
    transition: box-shadow 0.4s ease;
    background-color: aliceblue;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;

}

section article:hover{
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.5);

}
section article h2, section article p{
    margin: 1rem;
}


footer{
    background-color: rgb(2, 74, 50);
    padding: 1rem;
    color: aliceblue;
}

footer section a{
    margin: 0.5rem;
    float: right;
}

footer p{
    margin: 0;
}
footer a{
    color: aliceblue;
    text-decoration: none;
}

section a:hover{
    color: aquamarine;
}